:root {
  --blue: #17e4c2;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0/0.5);
}

body {
  font-size: 1.2rem;
  font-family: poppins;
}

.hero {
  min-height: 100vh;
}

.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/sandy-millar-8vaQKYnawHw-unsplash.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale();
  z-index: -1;
}

.hero h1, .hero h4, .hero p{
  text-shadow: var(--shadow);
}

.hero h1 {
  font-size: 4.5rem;
  font-family: sacramento;
  color: var(--blue);
}

.hero p {
    font-size: 1rem;
}

.hero .btn{
    font-size: 1.2rem;
    background-color: white;
    color: black;
}

.hero .btn:hover{
    background-color: var(--blue);
    color: white;
}

.navbar-brand{
  font-family:sacramento;
  font-size: 2rem;
  font-weight: bold;
}

#info h1{
  font-family: sacramento;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--blue);
}

#info .di-bawah-judul{
  font-size: 1.2rem;
}

.navbar{
  background-color: rgba(255, 255, 255, 0.3)! important;
  backdrop-filter: blur(4px);

}

.navbar-nav{
  font-size: 1rem;
}

#info{
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.pengucapan-undangan{
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#info .foto-cowo{
  width: 200px;
}

/* media queris */
/* mobile */
@media(max-width : 576px){

.simply-countdown > .simply-section{
  padding: 30px;
  margin: 3px;
}
}